In [1]:
print("Hello World")

Hello World

In [2]:
for i in range (0,5):
    print(i)

0
1
2
3
4

In [3]:
#strings

In [4]:
x = 42
y = 3/4
z = int('7')
a = float(5)
name = 'Yogesh'

print (x,y,z,a,name)

42 0.75 7 5.0 Yogesh

In [5]:
import torch

In [6]:
import pandas as pd

In [7]:
print ("Yogesh")

Yogesh

In [8]:
def hello_world():
    print("Hello, World!")
hello_world()

Hello, World!

In [9]:
def add_numbers(x,y):
    return x+y
add_numbers(5,15)

20

In [10]:
def foo():
    x = 5
    return x
val = foo()
type(val)

int

In [11]:
print(val)

5

In [12]:
def say_greeting(name, greeting):
    print(f"{greeting},{name}.")
 
say_greeting("Yogesh","Hi")

Hi,Yogesh.

In [13]:
def say_greeting(greeting, name):
    print(f"{greeting},{name}.")

    
def say_greeting_with_default(name, greeting= "Hello", punctuation = "!"):
    print(f"{greeting},{name}{punctuation}")

In [14]:
say_greeting("Hi","Yogesh")
say_greeting_with_default("Yogesh")

Hi,Yogesh.
Hello,Yogesh!

In [15]:
def say_greeting_with_default(name, greeting= "Hello",punctuation ="!"):
    print(f"{greeting},{name}{punctuation}")
say_greeting_with_default("Yogesh")
say_greeting_with_default("Yogesh","Good Day")

Hello,Yogesh!
Good Day,Yogesh!

In [16]:
def say_greeting_bad(name2,greeting = "Hello", name):
    print(f"{greeting},{name},{name2}")

SyntaxError: non-default argument follows default argument (<ipython-input-16-324b6cc1f8bd>, line 1)

In [17]:
def say_greeting(name, greeting):
    print(f"{greeting},{name}.")
say_greeting("Yogesh","Hello")

Hello,Yogesh.

In [18]:
def create_query(language = "JavaScript", num_stars = 50, sort = "desc"):
    return f"language:{language} num_starts:{num_stars} sort:{sort}"

In [19]:
create_query()

'language:JavaScript num_starts:50 sort:desc'

In [20]:
create_query(language ="Ruby", num_stars = 25, sort = 'asc')

'language:Ruby num_starts:25 sort:asc'

In [21]:
def say_greeting(name, greeting):
    print(f"{greeting},{name}.")
say_greeting("Yogesh","Hello")
say_greeting(name = "Keerthana", greeting="Hi")

Hello,Yogesh.
Hi,Keerthana.

In [22]:
def add_five_to_list(my_list = []):
    my_list.append(5)
    return my_list

In [23]:
add_five_to_list()

[5]

In [24]:
add_five_to_list()

[5, 5]

In [25]:
add_five_to_list

In [26]:
add_five_to_list()

[5, 5, 5]

In [27]:
def add_points(x1, y1, x2, y2):
    return x1+x2, y1+y2

In [28]:
add_points(5,6,5,6)

(10, 12)

In [29]:
# twitter_account = ""
def twitter_info():
    twitter_account = "@yogeshontech"
    print(f"Account inside function: {twitter_account}")
twitter_info()

Account inside function: @yogeshontech

In [30]:
def names():
    firstName = "Yogesh"
    print(f"{firstName}")
names()

Yogesh

In [31]:
name = "Yogesh"
print(f"Name outside of function:{name}")

Name outside of function:Yogesh

In [32]:
def try_change_name():
    name = "Keerthana"
    print(f"Name inside of function: {name}")

In [33]:
try_change_name()

Name inside of function: Keerthana

In [34]:
name = "Yogesh"
def try_change_name():
    name = "Keerthana"
    print(f"Name inside of function: {name}")
try_change_name()

Name inside of function: Keerthana

In [35]:
ROOT_API_URL = "https://api.github.com"
def api_search_repos_url():
    return f"{ROOT_API_URL}/search/repositories"
api_search_repos_url()

'https://api.github.com/search/repositories'

In [36]:
def add_numbers(x,y):
    return x+y
add_numbers(5,10)

15

In [37]:
print(f"The sum of 1 and 2 is {add_numbers(1,2)}")

The sum of 1 and 2 is 3

In [38]:
def add_numbers(x, y):
    return x + y
add_numbers(5,15)

20

In [39]:
x = 1
y = 2

def add_numbers(x,y):
    print(f"Inside the function, x = {x} and y = {y}")
    return x+y

print(f"Outside the function, x={x} and y={y}")
print(f"The sum of 5 and 6 is {add_numbers(5,6)}")

Outside the function, x=1 and y=2
Inside the function, x = 5 and y = 6
The sum of 5 and 6 is 11

In [40]:
def calculate_numbers(x,y, operation = "add"):
    if operation == "add":
        return x+y
    elif operation == "subtract":
        return x-y

In [41]:
calculate_numbers(2,3)

5

In [42]:
calculate_numbers(2,3, "subtract")

-1

In [43]:
calculate_numbers(6,3,operation='subtract')

3

In [44]:
list()

[]

In [45]:
[]

[]

In [46]:
type(list())

list

In [47]:
names = ["Yogesh", "Keerthana","Akila"]
len(names)

3

In [48]:
a =()

In [49]:
type(a)

tuple

In [50]:
b = (1,2)
type(b)

tuple

In [51]:
b=(1)
type(b)

int

In [52]:
student = ("Marcy",8,"History",3.5)
type(student)

tuple

In [53]:
student = ("Marcy",8,"History",3.5)

name, age, subject, grade = student

In [54]:
name

'Marcy'

In [55]:
age

8

In [57]:
subject

'History'

In [58]:
grade

3.5

In [59]:
def https_status_code():
    return 200, "OK"

code, value = https_status_code()
print (code)
print (value)

200
OK

In [60]:
my_new_set = {}
type(my_new_set)

dict

In [61]:
my_set = set()
type(my_set)

set

In [62]:
names = {'Nina','Max','Nina'}
names

{'Max', 'Nina'}

In [63]:
colors = ["Red","Yellow","Red","Green","Green","Green"]
set(colors)

{'Green', 'Red', 'Yellow'}

In [64]:
my_set = {1, "a", 2, "b", "cat"}
my_set

{1, 2, 'a', 'b', 'cat'}

In [65]:
my_set = {"a", "b", "cat", "dog", "red"}
my_set

{'a', 'b', 'cat', 'dog', 'red'}

In [66]:
sorted(my_set)

['a', 'b', 'cat', 'dog', 'red']

In [67]:
colors = {"Red","Green","Blue"}
colors.add("Orange")
colors

{'Blue', 'Green', 'Orange', 'Red'}

In [68]:
colors.discard("Red")
colors

{'Blue', 'Green', 'Orange'}

In [69]:
colors = {"Red","Green"}
numbers = {1,3,5}
colors.update(numbers)
colors

{1, 3, 5, 'Green', 'Red'}

In [70]:
numbers.update("Hello")
numbers

{1, 3, 5, 'H', 'e', 'l', 'o'}

In [73]:
numbers.update("Yogesh","Keerthana")
numbers

{1, 3, 5, 'H', 'K', 'Y', 'a', 'e', 'g', 'h', 'l', 'n', 'o', 'r', 's', 't'}

In [74]:
rainbow_colors = {"Red","Orange","Yellow","Green","Blue","Violet"}

favorite_colors = {"Blue","Pink","Black"}


rainbow_colors | favorite_colors

{'Black', 'Blue', 'Green', 'Orange', 'Pink', 'Red', 'Violet', 'Yellow'}